<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/content.css">
  <title>Blog</title>
</head>
<header>
  <nav class="navbar navbar-expand-custom navbar-mainbg">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="far fa-copy"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newpost"><i class="far fa-clone"></i>New post</a>
        </li>

      </ul>
  </nav>
</header>
<main class="container">